分析customer不同维度的特点，分类达到精准营销。

I. 用户画像 - 增大LTV (Life-Time-Value)

//客户从一开始到最后离开，数据visiable（具体购买）/invisable（使用后social media贴图），
// #hashtag click Inquersion可以换成visiable 商业指标。

作用（6步骤）：

1.准确营销

2. 用户收集与统计

3. 数据挖掘 - 聚类算法分析 //Machine Learning 花钱额度对应不同category  再营销，促销

4. 效果评估  //给评估A/B 促销效果统计分析。

5. 产品私人订制 //不同组不同商品

6. 竞争分析  //对手供应商 提供更有效的促销赢得客户的taste口味

II. 构建流程：
（1）基础数据收集 ：

基础数据收集 
->>网络行为（e.g.点击，click rate，浏览时间最后买)
->>服务内行为（买了手机登录store买其他软件产品，存储了多少照片，实时定位,hashtag贴图）
->>用户内容偏好（用软件订旅途）
->>用户交易（关联产品提供品牌竞争力更强）

行为建模 （文本挖掘，自然语言处理，机器学习</font>，预测算法，<font color = 'red'>聚类算法``</font>）

构建画像 （基本属性，<font color = 'red'>购买能力</font>，行为特征，兴趣爱好，心理特征，社交网络）

III. RFM 模型的意义
Recency： 最后一次消费时间与当前时间的间隔

Frequency： 三个月购票次数

Monetary： 三个月支付总金额

IV. RFM Level 等级制度
R,F,M 都分为五级 来比较消费者在级别区间的变动，更能显现出相对行为

一般来说企业用r和f的变化，来预测用户消费的异常动态，根据客户流失的可能性加上这些用户的m（monetary）的角度来分析，就可以把重点放在贡献度高且流失机会也高的用户上，重点拜访或联系，以最有效的方法晚会挽回流失用户

In [2]:
# "rfm" data frame
#rfm_data_customer <- read.csv("/Users/junduo/Desktop/桌面/BA1802/E_Commerce/customer_RFM.csv", header = TRUE)
#install.packages("rfm")
library(rfm)
head(rfm_data_customer,2)
head(rfm_data_orders,2)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

  customer_id revenue most_recent_visit number_of_orders recency_days
1 22086        777    2006-05-14         9               232
2  2290       1555    2006-09-08        16               115

  customer_id         order_date revenue
1 Mr. Brion Stark Sr. 2004-12-20 32
2 Ethyl Botsford      2005-05-02 36

In [3]:
#show data type of  rfm_data_orders
str(rfm_data_orders)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	4906 obs. of  3 variables:
 $ customer_id: chr  "Mr. Brion Stark Sr." "Ethyl Botsford" "Hosteen Jacobi" "Mr. Edw Frami" ...
 $ order_date : Date, format: "2004-12-20" "2005-05-02" ...
 $ revenue    : num  32 36 116 99 76 56 108 183 30 13 ...

In [4]:
#define a varaible for current date to find recency
analysis_date <- lubridate::as_date('2006-12-31', tz = 'UTC')

In [5]:
#define fine bins for RFM with above data
rfm_result <- rfm_table_order(data = rfm_data_orders,
                              customer_id = customer_id, 
                              order_date = order_date,
                              revenue = revenue, 
                              analysis_date = analysis_date,
                              recency_bins = 5,
                              frequency_bins = 5,
                              monetary_bins = 5)

In [6]:
head(rfm_result$rfm,2)

  customer_id        date_most_recent recency_days transaction_count amount
1 Abbey O'Reilly DVM 2006-06-09       205          6                 472
2 Add Senger         2006-08-13       140          3                 340
  recency_score frequency_score monetary_score rfm_score
1 3             4               3              343
2 4             1               2              412